body {
    padding: 10px;
}

.listing_item {
    width: 40%;
    color: black;
    border: 2px solid black;
    margin: 50px;
    padding: 20px;
}

.listing_title {
    font-size: 20px;
    font-weight: bold;
}

.listing_image {
    height: 300px;
}

.listing_image img {
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
}

.listing_description {
    font-style: italic;
}

.listing_image, .listing_title, .listing_price, .listing_description, .listing_owner {
    border: 1px groove red;
    border-radius: 10px;
    font-family: sans-serif;
    padding: 5px;
    margin: 5px;
    color: black;
    text-decoration: inherit;
}

.listing_owner div, .listing_price div {
    font-weight: bold;
}

.auction_item {
    margin: auto;
    width: 60%;
    border: 2px solid black;
    padding: 20px;
}

.submit_listing {
    margin-top: 20px;
}
