body {
    padding: 10px;
    background-color: #ddccdd;
}

.header {
    margin: auto;
    max-width: 30%;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    border-color: green;
    margin-bottom: 15px;
}

.container {
    background-color: #eeeeee;
    border: 5px solid #dddddd;
    border-radius: 50px;
}

.listing_item {
    width: 40%;
    color: black;
    border: 2px solid black;
    margin: 50px;
    padding: 20px;
    background-color: #ddffdd;
}

.listing_title {
    font-size: 20px;
    font-weight: bold;
}

.listing_image {
    height: 300px;
    display: flex;
    justify-content: center;
}

.image_center {

}

.listing_image img {
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
}

.listing_description {
    font-style: italic;
    font-size: 14px;
}

.listing_image, .listing_title, .listing_price, .listing_description, .listing_owner {
    border: 1px groove red;
    border-radius: 10px;
    font-family: sans-serif;
    padding: 5px;
    margin: 5px;
    color: black;
    text-decoration: inherit;
}

.listing_owner div, .listing_price div {
    font-weight: bold;
}

.auction_item {
    margin-left: 22%;
    margin-right: 30%;
    width: 50%;
    border: 2px solid black;
    padding: 20px;
}

.listing_container {
    overflow: hidden;
}

.auction_bid {
    float: left;
}

.auction_comment {
    float: right;

}

.submit_listing, .submit_bidding, .submit_comment {
    margin-top: 20px;
}

.watch_form {
    margin-left: auto;
    margin-right: auto;
}

.closed_listing {
    margin-left: 40%;
    width: 40%;
}
