{% extends "auctions/layout.html" %}

{% block body %}

    <div class="closed_listing">
        <h2>{{ listing.title }}</h2>
        {% if listing.image_URL %}
            <div class="listing_image">
                <img class="image_center" src="{{ listing.image_URL }}" alt="Photo of {{ listing.title }}">
            </div>
        {% else %}
            <div class="listing_image">
                <img class="image_center" src="https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg?20200913095930" alt="No image available">
            </div>
        {% endif %}
        {{ listing.description }}

        Price: €{{ listing.price }}

        Sold by: {{ listing.owner }}
    </div>



{% endblock %}
