{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ listing.title }}</h2>

    {% if listing.active %}

        {% if user.is_authenticated %}
            {% if listing.watchlist %}
                <form class="" action="" method="post">
                    {% csrf_token %}
                    <input type="submit" name="rm_watchlist" value="Remove from Watchlist">
                </form>
            {% else %}
                <form class="" action="" method="post">
                    {% csrf_token %}
                    <input type="submit" name="add_watchlist" value="Add to Watchlist">
                </form>
            {% endif %}
        {% endif %}

            <div class="auction_item">
                {% if listing.image_URL %}
                    <div class="listing_image">
                        <img src="{{ listing.image_URL }}" alt="Photo of {{ listing.title }}">
                    </div>

                {% endif %}

                {{ listing.description }}

                Price: €{{ listing.bid_price }}

                Sold by: {{ listing.owner }}
            </div>

    {% else %}
        This listing is not active anymore.
    {% endif %}


{% endblock %}
