{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Your listing: {{ title }}</h2>

    {% if active %}

        {% if image %}
            <div class="listing_image">
                <img src="{{ image }}" alt="Photo of {{ title }}">
            </div>

        {% endif %}

        {{ description }}

        {% if price %}
            <h3>Current price for item: </h3>{{ price }}
        {% else %}
            No biddings on this item yet!
        {% endif %}

        
    {% else %}
        <h2>This listing is not active</h2>
    {% endif %}

{% endblock %}
