{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create Listing</h2>

    <div class="create_listing">
        <form action="{% url 'create_listing' %}" method="post">
            {% csrf_token %}
            <div class="create_listing_form">
                {{ form }}
            </div>

            <div class="submit_listing">
                <input type="submit" name="submit_listing" value="Create New Listing">
            </div>
        </form>
    </div>


{% endblock %}
