{% extends "auctions/layout.html" %}

{% block body %}
    <div class="header">
        <h2>Active Listings</h2>
    </div>

    <div class="container">
        {% for listing in active_listings %}

            <div class="listing_item">

                <a href="{% url 'listing' listing_id=listing.id %}">

                    <div class="listing_title">
                        {{ listing.title }}
                    </div>

                    {% if listing.image_URL %}
                        <div class="listing_image">
                            <img src="{{ listing.image_URL }}" alt="Picture of {{ listing.title }}">
                        </div>
                    {% else %}
                        <div class="listing_image">
                            <img class="image_center" src="https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg?20200913095930" alt="No image available">
                        </div>
                    {% endif %}
                </a>

                    <div class="listing_description">
                        {{ listing.description }}
                    </div>

                    <div class="listing_price">
                        <div>Current price:</div>€ {{ listing.price }}
                    </div>

                    <div class="listing_owner">
                        <div>Listed by:</div>{{ listing.owner }}
                    </div>
            </div>

        {% empty %}
            <br><br>
            <h3>No active listings..</h3>
        {% endfor %}
    </div>
{% endblock %}
