{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for listing in active_listings %}

        <div class="listing_item">

            <a href="{% url 'listing' listing_id=listing.id %}">

                <div class="listing_title">
                    {{ listing.title }}
                </div>

                {% if listing.image_URL %}
                    <div class="listing_image">
                        <img src="{{ listing.image_URL }}" alt="Picture of {{ listing.title }}">
                    </div>
                {% endif %}
            </a>

                <div class="listing_price">
                    <div>Current price:</div>{{ listing.starting_bid }}
                </div>

                <div class="listing_description">
                    {{ listing.description }}
                </div>

                <div class="listing_owner">
                    <div>Listed by:</div>{{ listing.owner }}
                </div>
        </div>

    {% empty %}
        <br><br>
        <h3>No active listings..</h3>
    {% endfor %}
{% endblock %}
