{% extends "auctions/layout.html" %}

{% block body %}

    {% if listing.active %}

        <div class="listing_container">

            {% if listing.owner == user %}
            <div class="close_form">
                <form class="" action="{% url 'close' listing.id %}" method="POST">
                    {% csrf_token %}
                    {% if listing.active %}
                        <input type="submit" name="" value="Close this listing">
                    {% endif %}
                </form>
            </div>
            {% elif user.is_authenticated %}
            <div class="auction_bid">
                <form action="{% url 'bid' listing.id %}" method="post">
                    {% csrf_token %}
                    <div class="bidding_form">
                        {{ bid_form }}
                    </div>
                    <div class="submit_bidding">
                        <input type="submit" name="submit_bidding" value="Place your bid">
                    </div>
                </form>
            </div>
            {% endif %}

            {% if user.is_authenticated %}
            <div class="auction_comment">
                <form action="{% url 'comment' listing.id %}" method="post">
                    {% csrf_token %}
                    <div class="comment_form">
                        {{ comment_form }}
                    </div>
                        <div class="submit_comment">
                        <input type="submit" name="submit_comment" value="Place your comment">
                    </div>
                </form>
                {% if comments %}
                    {{ comments }}
                {% endif %}
            </div>
            {% endif %}

            <div class="auction_item">
                {% if user.is_authenticated %}
                    <div class="watch_form">
                        <form class="" action="{% url 'change_watch' listing.id %}" method="POST">
                            {% csrf_token %}
                            {% if watchlist_item %}
                                <input type="submit" name="" value="Remove from Watchlist">
                            {% else %}
                                <input type="submit" name="" value="Add to Watchlist">
                            {% endif %}
                        </form>
                    </div>
                {% endif %}
                <h2>{{ listing.title }}</h2>
                {% if listing.image_URL %}
                    <div class="listing_image">
                        <img src="{{ listing.image_URL }}" alt="Photo of {{ listing.title }}">
                    </div>
                {% else %}
                    <div class="listing_image">
                        <img class="image_center" src="https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg?20200913095930" alt="No image available">
                    </div>
                {% endif %}
                {{ listing.description }}

                Price: €{{ listing.price }}

                Sold by: {{ listing.owner }}
            </div>

        </div>
    {% else %}
        This listing is not active anymore.
    {% endif %}


{% endblock %}
